@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%; /*Convierte 1 rem a 10px*/
}

@font-face {
  font-family: 'Coolvetica';
  src: url(../fonts/coolvetica/coolvetica\ rg.ttf);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: Coolvetica; */
  font-size: 1.6rem;
  line-height: 2;
}

/* Globales */

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
  font-family: Coolvetica;
  letter-spacing: 0.5rem;
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}

.contenedor {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  z-index: 1;
}

img {
  max-width: 100%;
  /* display: block; */
}

.btn {
  background-color: #1ed760;
  margin: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  transition: background-color 0.3s ease-out;
  text-align: center;
  border: 1px solid #1ed760;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: inline-block;
  padding: 1rem 6rem;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #1ed760;
  color: #1ed760;
  cursor: pointer;
}

.btn-contacto {
  background-color: #fff;
  margin: 2rem 0;
  color: #1ed760;
  text-transform: uppercase;
  font-weight: 900;
  transition: background-color 0.3s ease-out;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: inline-block;
  padding: 1rem 6rem;
}

.btn-contacto:hover {
  background-color: #1ed760;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.btns_galeria{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.padd {
  padding: 2rem 0;
}

/* utilidades */
.text-center {
  text-align: center;
}

/* Seccion Principal */
.hero {
  background-image: url(../img/fondo.jpg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 77rem;
}

.hero:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo {
  margin-top: 1rem;
  max-width: 50%;
}

.titulo {
  color: #fff;
  position: relative;
  /* z-index:1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo h2 {
  font-weight: bold;
  font-size: 4rem;
  margin: 0;
}

.titulo p {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 2.5rem;
  margin: 0;
}

.sectionInformacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
/* Descomentar cuando ya tenga la imagen */
.sectionInformacion.sectionComprar {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: center;
  align-items: center;
}

.sectionInformacion .icono {
  max-width: 18rem; 
}
.icono h4{
  display: block;
  text-align: center;
  margin-top: 0;
  font-size: 1.6rem;
}

/* Nosotros */
.sectionNosotros,
.sectionComprar,
.sectionContacto {
  background-color: #1ed760;
}

.sectionNosotros,
.sectionComprar,
.sectionContacto {
  color: #fff;
}

.informacion span {
  font-weight: bold;
}

/* Invertir */

.sectionInvertir .informacion {
  color: #000000;
}

/* Galeria */
.informacion h3 {
  text-align: center;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  justify-items: center;
}

h3 {
  margin: 0;
}

/* Contactanos */
.informacion h4 {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
}

form .prueba {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

form .inputForm {
  display: flex;
  flex-direction: column;
  /* padding: 1rem 2.5rem; */
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  height: 4rem;
  border-radius: 8px;
  border: 1px solid #1ed760;
  outline: none;
  width: 90%;
}

textarea {
  border-radius: 8px;
  border: 1px solid #1ed760;
  outline: none;
  width: 95%;
}

/* Seccion de pagos */
.sectionPagos {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.sectionPagos .registro img {
  max-width: 80%;
}

.tarjetas .pagos-clip {
  color: #FC4304;
  text-align: center;
}

.pagos-clip img {
  max-width: 3rem;
}

/* Footer */
footer {
  background-color: #1ed760;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: #fff;
  padding: 1rem 0;
}

.imgFooter {
  max-width: 50%;
}

.social {
  display: flex;
  text-align: center;
}

.social-social {
  color: #fff;
}

.social-social i {
  font-size: 3rem;
}

.social-social p {
  margin: 0;
}

.social {
  display: flex;
  justify-content: space-around;
}

.footer-social {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

/* Movile */
@media (max-width: 768px) {
  .hero {
    background-image: url(../img/fondo_movil.jpeg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
  }

  .sectionNosotros{
    background-image: url(../img/food_truck_ni.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* height: 60rem; */
  }
  .sectionNosotros::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .sectionInformacion {
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionInformacion.sectionComprar {
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionInformacion div:nth-child(2) {
    grid-row: 1/2;
  }

  .sectionInvertir .sectionInformacion div:nth-child(1) {
    grid-row: 1;
  }

  .sectionInvertir .sectionInformacion div:nth-child(2) {
    grid-row: 2;
  }

  .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
            "one"
            "fourth"
            "two"
            "five"
            "three"
            "six";
  }
  .galeria .one { grid-area: one; }
.galeria .two { grid-area: two; }
.galeria .fourth { grid-area: fourth; }
.galeria .five { grid-area: five; }
.galeria .three { grid-area: three; }
.galeria .six { grid-area: six; }

  .btn {
    display: block;
  }
  .btns_galeria{
    flex-direction: column;
  }

  form .prueba {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 100%;
  }

  textarea {
    outline: none;
    width: 100%;
  }

  .btn-contacto {
    display: block;
    width: 100%;
  }

  .sectionPagos {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .registro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarjetas {
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }

  .grid-footer {
    padding: 2rem 0;
    grid-template-columns: 1fr;
  }
}